<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="COH3ReplayManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!--<add key="COH3Path" value="I:\SteamLibrary\steamapps\common\Company of Heroes 3\RelicCoH3.exe"/>-->
		<!--<add key="SteamPath" value="C:\Program Files (x86)\Steam\steam.exe"/>-->
		<!--add key="COH3PlaybackPath" value="C:\Users\dance\Documents\My Games\Company of Heroes 3\playback" /-->
		<!--add key="ReplayFolder" value="C:\Users\dance\Documents\My Games\Company of Heroes 3\playback\replays" /-->
	</appSettings>
 <userSettings>
  <COH3ReplayManager.Properties.Settings>
   <setting name="SteamPath" serializeAs="String">
    <value />
   </setting>
   <setting name="COH3PlaybackPath" serializeAs="String">
    <value />
   </setting>
  </COH3ReplayManager.Properties.Settings>
 </userSettings>
</configuration>